<div ng-controller="MyAppointmentsCtrl" class="page page-tiles">
  <!-- page header -->
  <div class="pageheader">
    <h3>Upcoming</h3>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <div class="row" ng-repeat="upcomingAppointment in upcomingAppointments">
      <div class="col-md-4" ng-repeat="rowElement in upcomingAppointment">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm" ng-class="rowElement.appointmentType =='DOCTOR_APPOINTMENT' ? 'bg-dutch' : 'bg-greensea' ">
            <h1 class="custom-font"><strong>{{ rowElement.appointmentType =='DOCTOR_APPOINTMENT' ? rowElement.doctorDetails : rowElement.labDetails }}</strong></h1>
            <span class="custom-font pull-right" ng-if="rowElement.status=='New'"><b>Pending</b></span>
            <span class="custom-font pull-right" ng-if="rowElement.status=='CONFIRMED'"><b>Confirmed</b></span>

          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div style="background-color: #eeeeee" class="tile-body">
            <p>{{ rowElement.hospitalDetails }}</p>
            <p>On {{ rowElement.appointmentDate }}</p>
            <p>From {{ rowElement.fromTime }} to {{ rowElement.toTime }}</p>
            <p>{{ rowElement.notes }}</p>
            <div style="margin:0px" class="row">
              <span class="pull-right"><a href="#" ng-click="cancelAppointment(rowElement.appointmentId)">Cancel</a></span>
             </div>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
    </div>
  </div>
    <!-- page header -->
  <div class="pageheader">
    <h3>Past</h3>
  </div>
  <!-- /page header -->
  <div class="pagecontent">
    <div class="row" ng-repeat="pastAppointment in pastAppointments">
      <div class="col-md-4" ng-repeat="rowElement in pastAppointment">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm" ng-class="rowElement.appointmentType =='DOCTOR_APPOINTMENT' ? 'bg-dutch' : 'bg-greensea' ">
            <h1 class="custom-font"><strong>{{ rowElement.appointmentType =='DOCTOR_APPOINTMENT' ? rowElement.doctorDetails : rowElement.labDetails }}</strong></h1>
            <span class="custom-font pull-right" ng-if="rowElement.status=='NO_SHOW'"><b>No Show</b></span>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div style="background-color: #eeeeee" class="tile-body">
            <p>{{ rowElement.hospitalDetails }}</p>
            <p>On {{ rowElement.appointmentDate }}</p>
            <p>From {{ rowElement.fromTime }} to {{ rowElement.toTime }}</p>
            <p>{{ rowElement.notes }}</p>
            <div style="margin:0px" class="row">
              <span class="pull-right" ng-if="rowElement.status=='COMPLETE' && rowElement.hasMedicalRecords == false"><a href="#" ng-click="openUploadRecordModal(lg,rowElement.appointmentId)"><i class="fa fa-upload"></i></a></span>
              <span class="pull-right" ng-if="!(rowElement.status=='COMPLETE' && rowElement.hasMedicalRecords == false)">&nbsp;</span>
            </div>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
    </div>
   </div>
</div>


<!-- Upload health record modal-->
<script type="text/ng-template" id="uploadHealthRecordModal">
  <form class="form-horizontal form-validation" name="uploadRecordForm" id='uploadRecordForm' method="post" enctype="multipart/form-data" novalidate>
    <div class="modal-header">
      <h3 class="modal-title custom-font">Upload Health Record</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="recordName" class="col-sm-3 control-label">Record Name*</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="recordName" id="recordName" ng-model="recordName" placeholder="Record name to identify" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Record Type</label>
        <div class="col-sm-9">
          <ui-select ng-model="recordType.selected" name="recordType" class="w-md mb-10" required>
            <ui-select-match placeholder="Select record type">{{$select.selected}} <a href ng-click="clearRecordType($event)"><i class="fa fa-times"></i></a></ui-select-match>
            <ui-select-choices repeat="recordType in recordTypes | filter: $select.search">
              <span ng-bind-html="recordType | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Issued date</label>
        <div class="col-sm-9">
          <div class="input-group w-md">
            <input type="text" class="form-control" name="issuedDate" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Record</label>
        <div class="col-sm-9">
          <input ng-model="record" ui-jq="filestyle" type="file" id="recordFile" name='recordFile' class="filestyle" ui-options="{
                    buttonText: 'Select record',
                    iconName: 'fa fa-inbox'
                  }">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="message">Description: </label>
        <div class="col-sm-9">
          <textarea class="form-control" name="description" rows="3" id="message" placeholder="Write something about record..." ng-model="user.message"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="uploadHealthRecord(uploadRecordForm)" ng-disabled='uploadRecordForm.$invalid'><i class="fa fa-upload"></i> Upload</button>
      <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
    </div>
  </form>
</script>