<div ng-controller="MyAppointmentsCtrl" class="page page-tiles">
  <!-- page header -->
  <div class="pageheader">
    <h3>Upcoming</h3>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <div class="row" ng-repeat="upcomingAppointment in upcomingAppointments">
      <div class="col-md-4" ng-repeat="rowElement in upcomingAppointment">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm" ng-class="rowElement.appointmentType =='DOCTOR_APPOINTMENT' ? 'bg-dutch' : 'bg-greensea' ">
            <h1 class="custom-font"><strong>{{ rowElement.appointmentType =='DOCTOR_APPOINTMENT' ? rowElement.doctorDetails : rowElement.labDetails }}</strong></h1>
            <span class="custom-font pull-right" ng-if="rowElement.status=='New'"><b>Pending</b></span>
            <span class="custom-font pull-right" ng-if="rowElement.status!='New'"><b>Confirmed</b></span>

          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div style="background-color: #eeeeee" class="tile-body">
            <p>{{ rowElement.hospitalDetails }}</p>
            <p>On {{ rowElement.appointmentDate }}</p>
            <p>From {{ rowElement.fromTime }} to {{ rowElement.toTime }}</p>
            <p>{{ rowElement.specialInstructions }}</p>
            <div style="margin:0px" class="row">
              <span class="pull-right"><a href="#" ng-click="cancelAppointment()">Cancel</a></span>
             </div>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
    </div>
  </div>
    <!-- page header -->
  <div class="pageheader">
    <h3>Past</h3>
  </div>
  <!-- /page header -->
  <div class="pagecontent">
    <div class="row" ng-repeat="pastAppointment in pastAppointments">
      <div class="col-md-4" ng-repeat="rowElement in pastAppointment">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm" ng-class="rowElement.appointmentType =='DOCTOR_APPOINTMENT' ? 'bg-dutch' : 'bg-greensea' ">
            <h1 class="custom-font"><strong>{{ rowElement.appointmentType =='DOCTOR_APPOINTMENT' ? rowElement.doctorDetails : rowElement.labDetails }}</strong></h1>
            <span class="custom-font pull-right" ng-if="rowElement.status=='APPOINTMENT_STATUS_NOSHOW'"><b>No Show</b></span>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div style="background-color: #eeeeee" class="tile-body">
            <p>{{ rowElement.hospitalDetails }}</p>
            <p>On {{ rowElement.appointmentDate }}</p>
            <p>From {{ rowElement.fromTime }} to {{ rowElement.toTime }}</p>
            <p>{{ rowElement.specialInstructions }}</p>
            <div style="margin:0px" class="row">
              <span class="pull-right" ng-if="rowElement.status=='APPOINTMENT_STATUS_DONE' && rowElement.recordsUploaded == false"><a href="#" ng-click="openUploadRecordModal(lg)"><i class="fa fa-upload"></i></a></span>
              <span class="pull-right" ng-if="!(rowElement.status=='APPOINTMENT_STATUS_DONE' && rowElement.recordsUploaded == false)">&nbsp;</span>
            </div>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
    </div>
   </div>
</div>