<div class="page page-core page-login">

  <div class="container w-420 p-15 bg-white mt-40 text-center">


    <h2 class="text-light text-greensea">Set Password</h2>
    <p class="help-block text-left">
      We sent an OTP to the specified phone number and email address. Please enter it below to set your password.
    </p>

    <form name="form" class="form-validation mt-20" novalidate>
      <div class="form-group">
        <input type="text" name="otp" class="form-control underline-input" placeholder="OTP" ng-model="otp" required>
      </div>

      <div class="form-group">
        <input type="password" name="password" placeholder="Password" class="form-control underline-input" ng-model="password" required>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-greensea pull-right" ng-click="confirmOTP()" ng-disabled='form.$invalid'>Set Password</button>
        </div>
      </div>
    </form>
  </div>

</div>
