<div class="page page-tables-bootstrap">
    <!-- page content -->
    <div class="pagecontent">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12">
                <!-- tile -->
                <!--<section class="tile" fullscreen="isFullscreen02">-->
                    <!--<form class="form-inline" ng-submit="uploadRecord()">-->

                        <!--<div class="form-group">-->
                            <!--<input ui-jq="filestyle" type="file" class="filestyle" ui-options="{buttonText: 'Select file'iconName: 'fa fa-inbox'}" nv-file-select="" uploader="uploader">-->
                        <!--</div>-->

                    <!--</form>-->
                <!--</section>-->
                <section class="tile" fullscreen="isFullscreen02">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>My Health Records</strong></h1>
                       <button style="margin-bottom:20px; margin-right:20px" class="controls btn btn-primary">Upload a new record</button>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <div class="tile-body table-custom">

                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom">
                                <thead>
                                <tr>
                                    <th class="bt-0">Record Name</th>
                                    <th class="bt-0">Record Type</th>
                                    <th class="bt-0">Issued Date</th>
                                    <th class="bt-0">Comments</th>
                                    <th class="bt-0"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="record in records" ng-click="" >
                                    <td>{{ record.name }}</td>
                                    <td>{{ record.type }}</td>
                                    <td>{{ record.issuedDate }}</td>
                                    <td>{{ record.comments }}</td>
                                    <td>
                                        <a href ng-click="" class="text-danger text-uppercase text-strong text-sm mr-10">x</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                    <!-- /tile body -->

                </section>
                <!-- /tile -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /page content -->
</div>