.page {
    background-color: #ffffff;
}
body {
    background-color: #ffffff;
}
#footer {
    background-color: #51445f;
    color: #ffffff
}

#footer a:hover{
    text-decoration: underline;
    color:#ffffff;
}
