<div ng-controller="MyAppointmentsCtrl" class="page page-tiles">
  <!-- page header -->
  <div class="pageheader">
    <h3>Upcoming</h3>
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Tulasi</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 12th March, 2016</p>
            <p>At 10:15 am</p>
            <p>Annual checkup.</p>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile bg-greensea" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Yogesh Patel</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 20th April, 2016</p>
            <p>At 10:30 AM</p>
            <p>Eye exam</p>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /appointment tile -->
      </div>
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile bg-dutch" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Vijaya Diagnostics</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 12th March, 2016</p>
            <p>At 10:15 am</p>
            <p>Chest X-ray</p>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
    </div>
    <!-- row -->
  </div>
    <!-- page header -->
  <div class="pageheader">
    <h3>Past</h3>
  </div>
  <!-- /page header -->
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile bg-dutch" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Apollo Diagnostics</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 1st January, 2016</p>
            <p>At 2:15 PM</p>
            <p>CT of spine</p>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Tulasi</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 12th March, 2016</p>
            <p>At 10:15 am</p>
            <p>Annual checkup.</p>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile bg-greensea" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Yogesh Patel</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 20th April, 2016</p>
            <p>At 10:30 AM</p>
            <p>Eye exam</p>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /appointment tile -->
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Tulasi</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 12th March, 2016</p>
            <p>At 10:15 am</p>
            <p>Annual checkup.</p>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile bg-greensea" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Yogesh Patel</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 20th April, 2016</p>
            <p>At 10:30 AM</p>
            <p>Eye exam</p>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /appointment tile -->
      </div>
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Tulasi</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 12th March, 2016</p>
            <p>At 10:15 am</p>
            <p>Annual checkup.</p>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile bg-greensea" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Yogesh Patel</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 20th April, 2016</p>
            <p>At 10:30 AM</p>
            <p>Eye exam</p>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /appointment tile -->
      </div>
      <div class="col-md-4">
        <!-- appointment tile -->
        <section class="tile" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dr.Tulasi</strong></h1>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body">
            <p>On 12th March, 2016</p>
            <p>At 10:15 am</p>
            <p>Annual checkup.</p>
          </div>
          <!-- /tile footer -->
        </section>
        <!-- /appointment tile -->
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <!-- row -->
   </div>
</div>