<section ng-include="'views/header_nl.html'" id="header" class="{{main.settings.navbarHeaderColor}}"></section>

<div id="controls">

  <!--<aside ng-include="'views/nav.html'" id="sidebar" class="{{main.settings.sidebarColor}}" ng-class="{'aside-fixed':main.settings.asideFixed}"></aside>-->

  <!--<aside ng-include="'views/rightbar.html'" id="rightbar"></aside>-->

</div>
<div class="row">
  <div class="col-md-9">
    <section style="left:0px;" ui-view id="content" autoscroll="false"></section>
  </div>
  <div class="col-md-3">
    <div style="position: absolute;top: 45px;height: auto; padding:20px;">
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm bg-slategray">
          Features
        </div>
        <div class="tile-body">
          <ul style="list-style: none">
            <li><a href="#">Book an appointment</a></li>
            <li><a href="#">Upload health records</a></li>
            <li><a href="#">View appointments</a></li>
          </ul>
        </div>
        <div class="tile-header dvd dvd-btm bg-slategray">
          Subscription Benefits
        </div>
        <div class="tile-body">
          <ul style="list-style: none">
            <li><a href="#">Free health checkup</a></li>
            <li><a href="#">Discounted prices</a></li>
            <li><a href="#">Insurance discounts</a></li>
            <li><a href="#">Customized health packages</a></li>
            <li><a href="#">Personalized service</a></li>
          </ul>
        </div>
      <br/>

    </div>
  </div>
</div>
