<header class="clearfix">

  <!-- Branding -->
  <div class="branding {{main.settings.brandingColor}}">
    <a class="brand" ui-sref="app.dashboard">
      <span><strong>Velkare</strong></span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div>
  <!-- Branding end -->

  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">
    <li class="dropdown nav-profile" uib-dropdown>
      <a class="pull-left" ui-sref="core.signup">Sign up</a>
      </li>
    <li class="dropdown nav-profile" uib-dropdown>
      <a class="pull-left" ui-sref="core.login">Login
      </a>
    </li>
  </ul>
  <!-- Right-side navigation end -->



</header>
