<header class="clearfix">
  <!-- Branding -->
  <div class="branding {{main.settings.brandingColor}}">
    <a class="brand" ui-sref="app_nl.home">
      <span><strong>Velkare</strong></span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div>
  <!-- Branding end -->
  <!-- Left-side navigation -->
  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar>
        <fa name="outdent"></fa>
      </a>
    </li>
  </ul>
  <!-- Left-side navigation end -->
  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">
    <li>
      <h4 class="text-white">Need help? call us at <a href="tel:1234567">123-4567</a> </h4>
    </li>
    <li class="dropdown nav-profile" uib-dropdown>

      <a href class="dropdown-toggle" uib-dropdown-toggle>
        <!--<img src="images/profile-photo.jpg" alt="" class="img-circle size-30x30">-->
        <span>{{ user.firstName }} {{ user.lastName }}<fa name="angle-down"></fa></span>
      </a>

      <ul class="dropdown-menu animated littleFadeInRight" role="menu" style="right: 5px;left: auto !important;">
        <li>
          <a href="#">
            <fa name="user"></fa>Profile
          </a>
        </li>
        <li>
          <a href="#" ng-click="lgout()">
            <fa name="sign-out"></fa>Logout
          </a>
        </li>
      </ul>

    </li>
  </ul>
  <!-- Right-side navigation end -->



</header>
