<div id="sidebar-wrap" ng-controller="NavCtrl">
  <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">
    <div class="panel-body">
      <ul id="navigation">
        <li ui-sref-active="active"><a ui-sref="app.appointment.bookAnAppointment" href="#/app/appointment/bookAnAppointment"><fa name="dashboard"></fa> <span>Book an appointment</span></a></li>
        <li ui-sref-active="active" class="active">
          <a ui-sref="app.user.myAppointments" href="#/app/user/myAppointments">
            <i class="fa fa-calendar-o" name="calendar-o"></i>
            <span class="ng-binding">My appointments</span>
          </a>
        </li>
        <li ui-sref-active="active" class="active">
          <a ui-sref="app.user.myRecords" class="ng-binding" href="#/app/user/myRecords"><i class="fa fa-file" name="upload"></i>My health records
          </a>
        </li>
      </ul>
    </div>
  </uib-accordion>
</div>
